/*Fuentes : 'M PLUS Rounded 1c', sans-serif*/

/*-------------------------------------------*\
    GENERAL
\*-------------------------------------------*/
body{
  /*general*/
  background: linear-gradient(337deg, #ff0000 18%, #fcb045 100%);
  background-size: 400% 400%;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  /*animaciones*/
  animation: rainbow 7s ease infinite;
  -webkit-animation: rainbow 7s ease infinite;
  -z-animation: rainbow 7s ease infinite;
  -o-animation: rainbow 7s ease infinite;
}

h1{
  color: white;
  font-size: 55px;
  font-weight: 100;
  letter-spacing: -4px;
  text-align: center;
}

/*-------------------------------------------*\
    TIMER
\*-------------------------------------------*/
  /*estilo de svg*/
#circulo{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#circulo circle{
  -webkit-box-shadow: inset 10px 10px 5px -5px rgba(0,0,0,0.08);
-moz-box-shadow: inset 10px 10px 5px -5px rgba(0,0,0,0.08);
box-shadow: inset 10px 10px 5px -5px rgba(0,0,0,0.08);
}


#timer{
  /*texto*/
  color: white;
  font-size: 100px;
  font-weight: 200;
  text-align: center;
  /*general*/
  width: 550px;
  height: 300px;
  border: none;
  margin: 0px auto 5px auto;
  padding-top: 80px;
}


/*botones generales*/
#botones{
  text-align: center;
}

#botones button{
  /*texto*/
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 20px;
  /*general*/
  background-color: transparent;
  border: none;   
  margin: 0 10px;
  cursor: pointer;
  vertical-align: middle;
}

#botones button:focus {
  outline:0;
}


/*botones 'comenzar' y 'descanso'*/
#botones .efecto-botones{
  /*general*/
  padding: 5px;
  border-radius: 3px;
   /*background*/
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(transparent, transparent);
  background-size: 0px 1px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
}

#botones .efecto-botones:hover{
  background-size: 100% 1px, auto;
}


/*boton de informacion*/
#info{
  position: absolute;
  bottom: 30px;
  right: 30px;
}

#info img{
  width: 50px;
}

/*-------------------------------------------*\
    MODAL BOX
\*-------------------------------------------*/
.modal {
  /*general*/
  background-color: rgba(0,0,0,0.2); 
  width: 100%;
  height: 100%; 
  display: none; 
  padding-top: 100px; 
  overflow: auto; 
  /*posicion*/
  position: fixed; 
  left: 0;
  top: 0;
  z-index: 1; 
}
  
/* Contenido del modal */
.modal-content {
  /*general*/
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  max-width: 900px;
  height: 400px;
  border-radius: 4px;
  /*posicion*/
  position: relative;
  top: 100px;
  /*animacion*/
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: arriba;
  animation-duration: 0.4s;
}
  
.modal-content p{
  color: #818181;
  font-size: 20px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}  

.modal-content img{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
/* Boton de cerrar */
.close {
  color: #d9d9d9;
  font-size: 28px;
  font-weight: bold;
  float: right;
  padding: 10px;
}
  
.close:hover,
.close:focus {
  color: rgb(117, 117, 117);
  text-decoration: none;
  cursor: pointer;
  transition: .4s;
}
  
/* Header de la modal*/
.modal-header {
  color: white;
  padding: 2px 16px;
  height: 60px;
}
  
/* Body de la modal */
.modal-body {
  padding: 2px 16px;
}
  

/*-------------------------------------------*\
    KEYFRAMES/ANIMACIONES
\*-------------------------------------------*/

/* modal box */
@-webkit-keyframes arriba {
  from {top:-400px; opacity:0} 
  to {top:100px; opacity:1}
}
  
@keyframes arriba {
  from {top:-400px; opacity:0}
  to {top:100px; opacity:1}
}
  
 /*background*/
 @-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
