/*Colores : #ff304f*/
/*Fuentes : 'M PLUS Rounded 1c', sans-serif*/

/*-------------------------------------------*\
    GENERAL
\*-------------------------------------------*/
body{
  background-color: #ff304f;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1{
  color: white;
  font-size: 55px;
  font-weight: 100;
  letter-spacing: -4px;
  text-align: center;
}

/*-------------------------------------------*\
    TIMER
\*-------------------------------------------*/
#timer{
  /*texto*/
  color: white;
  font-size: 100px;
  font-weight: 200;
  text-align: center;
  /*general*/
  width: 550px;
  height: 300px;
  border: none;
  margin: 0px auto 20px auto;
  padding-top: 100px;
}

#botones{
  text-align: center;
}

#botones button{
  /*texto*/
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 20px;
  /*general*/
  background-color: #ff304f;
  border: none;   
  margin: 0 20px;
  cursor: pointer;
  vertical-align: middle;
}

#botones button:focus {
  outline:0;
}

/*-------------------------------------------*\
    MODAL BOX
\*-------------------------------------------*/
.modal {
  /*general*/
  background-color: rgba(0,0,0,0.2); 
  width: 100%;
  height: 100%; 
  display: none; 
  padding-top: 100px; 
  overflow: auto; 
  /*posicion*/
  position: fixed; 
  left: 0;
  top: 0;
  z-index: 1; 
}
  
/* Contenido del modal */
.modal-content {
  /*general*/
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  max-width: 900px;
  height: 400px;
  /*posicion*/
  position: relative;
  top: 100px;
  /*animacion*/
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: arriba;
  animation-duration: 0.4s;
}
  
.modal-content p{
  color: #818181;
  font-size: 20px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}  

.modal-content img{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
/* Animación */
@-webkit-keyframes arriba {
  from {top:-400px; opacity:0} 
  to {top:100px; opacity:1}
}
  
@keyframes arriba {
  from {top:-400px; opacity:0}
  to {top:100px; opacity:1}
}
  
/* Boton de cerrar */
.close {
  color: #d9d9d9;
  font-size: 28px;
  font-weight: bold;
  float: right;
}
  
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: .4s;
}
  
/* Header de la modal*/
.modal-header {
  color: white;
  padding: 2px 16px;
  height: 60px;
}
  
/* Body de la modal */
.modal-body {
  padding: 2px 16px;
}
  